.containerZoomImg {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 9999999999999999999999999999999999;

  .contentZoomImg {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: fl;
    align-items: center;

    gap: 1rem;
    padding-top: 1rem;
    section {
      display: flex;
      // flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      background-color: rgb(220, 220, 220);
      padding: 1rem 2rem;
      margin: 0rem 0.5rem;
      border-radius: 0.5rem;
      width: fit-content;
      z-index: 9999999999999999999999999999999999;
      .buttonPopup_01 {
        border-radius: 1rem;
        color: var(--global-02);
        border: solid 1px var(--global-02);
        background-color: var(--global-08);
        cursor: pointer;
      }

      .br_1 {
        border-radius: 1rem;
      }
    }

    .boxZoomImg {
      width: fit-content;
      height: auto;
      max-width: 95vw;
      max-height: 85vh;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
      transform-origin: center;
      img {
        height: auto;
        max-width: 95vw;
        max-height: 85vh;
        object-fit: cover;
        object-position: center;
        border-radius: 0.5rem;
      }
    }
  }
}
