.rootInputPhotos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;

  .customFileLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    .boxInputFiles {
      background-color: rgba(255, 255, 255, 0.4);
      border: solid 1px;
      border-radius: 0.5rem;
      padding: 1.2rem;
      width: 210px;
    }
  }
}
