.rootInputFiles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;

  .customFileLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    .boxInputFiles {
      background-color: var(--color-19);
      border: solid 1px;
      border-radius: 0.5rem;
      padding: 1.2rem;
      width: 210px;
    }
    .containerMultiFiless {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 0.5rem;
      border: solid 1px;

      .card {
        display: flex;
      }
    }

    .containerFile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 0.5rem;
      .svg_01 {
        background-color: var(--color-20);
        border-radius: 50%;
        padding: 0.1rem;
        stroke: var(--color-17);
      }

      .svg_01:hover {
        background-color: var(--color-19);
      }
      .svg_01:active {
        background-color: white;
        stroke: var(--color-two);
      }
    }
  }
}
