.rootDashboard {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: stretch;
  position: relative;
  flex: 1;
  overflow: hidden;

  .containerDashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    overflow-x: hidden;
    padding-top: 7rem;
    .p1 {
      border-bottom: solid 1px;
    }

    .containerCardsCompanies {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: stretch;
      align-items: center;
    }

    @media screen and (max-width: 1020px) {
      padding-top: 10.5rem;
    }

    @media screen and (max-width: 768px) {
      padding-top: 13.5rem;
    }

    @media screen and (max-width: 600px) {
      padding-top: 16.5rem;
    }
  }
}
