.containerChooseLanguage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  height: 100%;
  max-width: 180px;
  button {
    background-color: var(--color-17) !important;
    width: 100%;
  }
}
