.rootHomePage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  padding-top: 7rem;
  #registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .boxInput {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: center;
      align-items: flex-start;

      .inputError {
        border-color: red;
      }
    }

    .mx_2 {
      margin: 2rem 0;
    }
  }

  @media screen and (max-width: 1020px) {
    padding-top: 10.5rem;
  }

  @media screen and (max-width: 768px) {
    padding-top: 13.5rem;
  }

  @media screen and (max-width: 600px) {
    padding-top: 16.5rem;
  }
}
